#slider {
    width: 384px;
    height: 128px;
    border: 5px solid black;
    margin: 50px auto;
    overflow: hidden;
}
#polosa{
    width: 768px;
    position: relative;
    left: 0;
    transition: all ease 1s; //*замедлить эффект*//
}
#polosa img{
    float: left;

}
#polosa:after{
    content:"";
    display: block;
    clear:both;
}
.center{
    text-align: center
}
/*выравнивание кнопки по центру*/
